Saved/Backup/demo_2020-07-01-17-49-35.umap
Intermediate/CachedAssetRegistry.bin
Saved/
Intermediate/
Content/SciFiPopulate/Textures/T_MetalScratches_1024_NRM.uasset
Content/SciFiPopulate/Textures/
pc/
Build/
